# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.cache
nosetests.xml
pytest_cache/
junit-*.xml

# mypy, pylint, etc.
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
.pylint.d/

# Environments
.env
.env.*  # .env.dev, .env.test, etc.

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db

# Logs
*.log

